html, body {
  height: 100%;
  width: 100%;
}

.Devin_Booker {
background-image:url("NBA\ 2k23.jpg");
height:100%;
background-position:center;
background-repeat:no-repeat;
background-size:cover;  
}

.Me {
color:orange;
}

.Subject {
color: greenyellow;
}

.School {
color:orange;
}

.Home_Page {
font-family:'Playfair Display';
}

.About_Me_Page {
display:none;
font-family:'Playfair Display'
}

.Contact_Page {
display:none;
font-family:'Playfair Display'
}

.Projects_Page {
display:none;
font-family:'Playfair Display'
}

.Resume_Page {
display:none;
font-family:'Playfair Display'
}


.JA {
height:200px;
width:500px;
}

.PG13 {
color:#DCEDC8;
}

.Kawhi {
color:#673AB7;
}

.Julius_Randle {
color: white;
}
.About {
background-color:yellow;
border-style:solid;
color:black;
border-width: medium;
border-color:black;
}

.Contact {
background-color:yellow;
border-style:solid;
color:black;
border-width: medium;
border-color:black;
}

.Resume {
background-color:yellow;
border-style:solid;
color:black;
border-width: medium;
border-color:black;
}

.Projects {
background-color:yellow;
border-style:solid;
color:black;
border-width: medium;
border-color:black;
}

.JA_2022 {
height:500px;
width:500px;
border-style:solid;
border-radius: 12px;
border-width: medium;
}
.Counter {
height:200px;
width:200px;
border-style:solid;
border-radius: 12px;
border-width: medium;
border-color:gold;
}

.Stephen_A_Smith {
height:200px;
width:200px;
border-style:solid;
border-radius: 12px;
border-width: medium;
border-color:lime;
}

.Seth_Freakin_Rollins {
height:200px;
width:200px;
border-style:solid;
border-radius: 12px;
border-width: medium;
border-color:blue;
}

.Lebron_20 {
height:200px;
width:200px;
border-style:solid;
border-radius: 12px;
border-width: medium;
border-color:#8D43FF;
}
.PG13 {
font-family:'Carter One'
}

.menu {
justify-content:space-around;
background-color:yellow;
}

.Ret {
background-color:red;
border-style:solid;
color:black;
border-radius: 12px;
border-width: medium;
}
