html, body {
  height: 100%;
  width: 100%;
}


.Me {
color: blue;
}

.Subject {
color: greenyellow;
}

.School {
color: blue;
}

.Txt {
font-family:'Playfair Display';
}

.Txt_2 {
font-family:'Playfair Display';
}